.grow {
    /* background: url('../../assets/images/blob2.svg') no-repeat; */
    /* background-position: 711px; */
    /* background-size: 101% 110%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #000;
    width: 100%;
    gap: 50px;
    padding: 10% 54px;
    box-sizing: border-box;
    margin-top: -40px;
}



.grow .report {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grow .dif-card h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.grow .dif-card h3, .grow .dif-card p {
    position: relative;
}

.grow .dif-card p {
    width: 70%;
    color: #8F8F8F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 200;
}

.grow .dif-card h3 .circle {
        color: #fff;
            width: 50px;
            border-radius: 50%;
            margin-left: -55px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            height: 50px;
            background: #FF6057;
            /* bottom: -10px; */
            /* left: 0; */
            justify-content: center;
}

.grow .dif-card p .vertical-line {
        width: 5px;
            /* border-radius: 50%; */
            margin-left: -33px;
            display: flex;
            align-items: center;
            height: 75px;
            background: #BCBCBC;
            margin-left: -30px;
            margin-right: 10px;
            justify-content: center;
}

.grow .dif-card:nth-child(3) p .vertical-line {
    all:unset;
}


.grow .report-left {
    position: relative;
    text-align: start;
    margin-left: 5rem;
    margin-top: 60px;
}

.grow .report-left h2 {
    /* font-size: 2.5rem; */
    width: 90%;
    font-weight: 900;
    margin-bottom: 0;
    color: #3B3A3A !important;
}

.grow .report-left p {
    color: #8F8F8F;
    font-weight: 200;
}

.grow .report-left p:nth-child(3) {
    color: #FF6057;
    font-weight: 500;
}

.grow button {
            background: linear-gradient(-90deg, rgba(124, 28, 128, 0.66) 0.00%, #ff6057 100.00%);
            border: none;
            padding: 10px 30px;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            box-sizing: border-box;
        
}

@media screen and (max-width: 768px) {
    .grow {
        grid-template-columns: 1fr;
        padding: 10% 0;
        background-position: 0;
        background-size: 100% 100%;
        /* gap: 10px; */
    }

    .grow .dif-card {
        text-align: center;
        width: 100%;
    }

    .grow .dif-card p {
            width: 90%;
            padding: 0 2px;
            margin: 0 auto;
            box-sizing: border-box;
    }

        

    .grow .dif-card h3 {
    text-align: center;
    justify-content: center;
        width: 100%;
    }

        

    .grow .report {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

    .grow .report-left {
        position: relative;
        text-align: center;
        margin-left: 0;
        margin-top: 60px;
        width: 100%;
    }

    .grow .report-left h2 {
        /* font-size: 2.5rem; */
        width: 100%;
        font-weight: 900;
        margin-bottom: 0;
        color: #3B3A3A !important;
    }

    .grow .report-left p {
        color: #3B3A3A;
        font-weight: 200;
    }

    .grow .report-left p:nth-child(3) {
        color: #fff;
        font-weight: 500;
    }

    .grow .report-left::after {
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
}