.best {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #000;
    width: 100%;
    padding: 10% 54px;
    box-sizing: border-box;
    margin-top: 0;
}

/* .best .imgcontainer {
    right: 0;
    text-align: end;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.best .report {
    display: flex;
    align-items: center;
    justify-content: center;
}

.best .report img {
    width: 70%;
}

.best .report-left {
    margin-top: 65px;
}


@media screen and (max-width: 768px) {
    .best {
        grid-template-columns: 1fr;
        padding: 10% 0;
        background-position: 0;
        background-size: 100% 100%;
        /* gap: 10px; */
    }
    
    .best .imgcontainer {
        text-align: center;
        margin: 0 auto;
    }
    
    .best .report {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .best .report img {
        width: 70%;
    }

    
    .best .report-left p {
        color: #3B3A3A;
        font-weight: 200;
    } 
    
    .best .report-left p:nth-child(3) {
        color: #ff6057;
        font-weight: 500;
    }
    
    .best .report-left::after {
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
}