.testomintal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.testomintal h2 {
    font-size: 40px;
        font-weight: 700;
        color: #3B3A3A;
        margin-bottom: 20px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.statics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.static {
    margin: 0 20px;
    text-align: center;
}

.static h3 {
    font-size: 40px;
    font-weight: 700;
    color: #FF6057;
    margin: 0;
}

.static p {
    font-size: 20px;
    font-weight: 200;
    color: #8F8F8F;
    margin: 0;
    margin-bottom: 20px;
}

.testomintals-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 10px;
}

.testomintals-section .test {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.test-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 290px;
    margin: 0 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

.testomintals-section .test-card .img {
    /* width: 100%; */
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testomintals-section .test-card .img  img{
    width: 250px;
}

.testomintals-section .test-card .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    /* height: 150px; */
    padding: 20px;
    margin: 0;
}

.testomintals-section .test-card .content h3 {
    font-size: 1vw;
    font-weight: 700;
    color: #3B3A3A;
    margin: 0;
    margin-bottom: 5px;
}

.test-card .content p {
    font-size: .8vw;
    font-weight: 200;
    color: #8F8F8F;
    margin: 0;
    margin-bottom: 10px;
}

.test-card .content p:nth-child(2) {
    font-weight: 400;
}



.testomintals-section .report-left {
    position: relative;
    text-align: start;
    /* margin-left: 5rem; */
    margin-top: 0;
    width: 80%;
}

.testomintals-section .report-left h2 {
    /* font-size: 2.5rem; */
    text-align: start;
    width: 100%;
    font-weight: 900;
    margin-bottom: 0;
    color: #3B3A3A !important;
}

.testomintals-section .report-left p {
    color: #8F8F8F;
    font-weight: 200;
}



.testomintals-section .report-left button {
    background: linear-gradient(-90deg, rgba(124, 28, 128, 0.66) 0.00%, #ff6057 100.00%);
    border: none;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 15px;

}

.testomintals-section .react-multi-carousel-track,
.carousel-container {
    filter: none;
    margin-bottom: 35px !important;
}

.react-multi-carousel-dot button {
    border: none !important;
    background: #8F8F8F !important;
}

.react-multi-carousel-dot--active button {
    background: #FF6057 !important;
}

.custom-dot-list-style {
    list-style: none;
    padding: 0;
    /* margin: 10px 0 !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.07));
}

.testomintals-section .report-left::after {
    all: unset;
}



@media screen and (max-width: 1380px) {
    .testomintals-section .test-card .img img {
            width: 180px;
        }

                .testomintals-section .test-card .content h3 {
                    font-size: 1.3vw;
                }
        
                .test-card .content p {
                    font-size: 1vw;
                }
}
@media screen and (max-width: 1100px) {

    .test-card {
        width: 80%;
    }
    .testomintals-section .test-card .img img {
            width: 195px;
        }

                .testomintals-section .test-card .content h3 {
                    font-size: 1.3vw;
                }
        
                .test-card .content p {
                    font-size: 1vw;
                }
}

@media screen and (max-width: 768px) {
    .testomintal h2 {
        font-size: 20px;
        width: 100%;
    }

    .statics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .testomintals-section {
        grid-template-columns: 1fr;
    }

    .report-left {
        text-align: center;
        align-items: center;
        margin: 50px auto;
    }

    .report-left h2 {
        text-align: center;
        width: 100%;
    }

    .test-card {
        width: 100%;
        margin: 0 20px;
        height: 430px;
        flex-direction: column;
    }

    .test-card .content {
        width: 100%;
        padding: 20px;
    }

    .testomintals-section .test-card .content h3 {
        text-align: center;
        width: 100%;
        font-size: 2vw;
    }

    .testomintals-section .test-card .content p {
        text-align: center;
        width: 80%;
        font-size: 2vw;
        margin: 5px auto;
    }

    .stars {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .test-card .img {
        width: 100%;
        margin: 0;
    }

    .testomintals-section .react-multi-carousel-track,
    .carousel-container {
        filter: none;
        margin-bottom: 35px !important;
    }

    .testomintals-section .report-left h2 {
        /* font-size: 2.5rem; */
        text-align: center;
    }

    .testomintals-section .report-left {
        margin-left: auto;
        margin-right: auto;
    }
}