.container {
    margin-top: -40px;
    /* height: 80vh; */
}

.report-img {
    text-align: center;
}

.report-center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.imghandler img {
    width: 50%;
    
}



.report-center h3 {
    margin: 0;
    font-weight: 500;
    margin-top: 10px;
    color: #8F8F8F;
}
.report-center h2 {
    margin: 0;
    font-weight: 900;
    margin-top: 10px;
    font-size: 2rem;
    color: #3B3A3A;
}

.report-img .react-multi-carousel-track,
.carousel-container {
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.07));
    margin-bottom: 20px !important;
}

.react-multi-carousel-dot button {
    border: none !important;
    background: #8F8F8F !important;
}

.react-multi-carousel-dot--active button {
    background: #FF6057 !important;
}

.custom-dot-list-style {
    list-style: none;
    padding: 0;
    /* margin: 10px 0 !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.07));
}



@media screen and (max-width: 995px) {
    .container {
        margin-top: 0;
    }
}
@media screen and (max-width: 956px) {
    .container {
            margin-top: 155px;
        }
}
@media screen and (max-width: 768px) {

    .container {
        margin-top: 1750px;
        /* height: 80vh; */
    }

    .report-center {
        width: 100%;
    }

    .imghandler img {
        width: 100%;
    }


}

