.home {
    display: grid;
    /* align-items: center;
    justify-content: center; */
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    width: 100%;
    background: url('../../assets/images/back.png') no-repeat center center/cover;
    margin-bottom: -5rem;
    padding: 8rem;
    box-sizing: border-box;
    gap: 2rem;
}


/* .home .right, .home .left {
    width: 50%;
}

.home .left{
    width: 30%;
} */

.right img {
    width: 100%;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.07));

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    /* margin-left: 2rem; */
}

.left h1, .left p,  .left h2 {
    all: unset;
    text-align: start;
    letter-spacing: normal;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
    
}


.left h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: start;
    line-height: 1.3;
}

.left button {
    background: white;
    color: #FF6057;
    margin-top: 10px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    
}

.icons {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem;
        margin-bottom: 4.5rem;
        /* text-align: center; */
    }

    .home .left, .home .right {
        margin-top: 3rem;
        text-align: center;
        align-self: center;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .home .left h2, .home .left p, .home .left h1 {
        text-align: center !important;
        width: 100%;
        filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
    }

    .left button {
        filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
    }
}
    
