.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    height: 70px;
    flex-direction: row;
    background: transparent;
    position: absolute;
    color: white;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 5000;
}

.scroll {
    background: linear-gradient(-90deg, rgba(124, 28, 128, 0.66) 0.00%, #ff6057 100.00%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

.scroll .center a:last-child {
    color: #fff !important;
}

.menu {
    display: none;
}

.logo {
    letter-spacing: 2px;
}

.logo span {
    position: relative;
}

.logo span::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 45%;
        transform: translate(-50%, 0px);
        text-align: center;
        width: 50%;
        height: 100%;
        border-top: 2px solid #fff;
}

.center a{
    text-decoration: none;
    margin: 0 1rem;
    color: white;
}

.center {
    margin-left: -150px;
}

.navbar .right button {
    background: linear-gradient(-90deg, rgba(124, 28, 128, 0.66) 0.00%, #ff6057 100.00%);
        border: none;
        padding: 10px 30px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        box-sizing: border-box;
}



.none {
    display: none;
}

.l-navbar {
    animation-name: scaleX;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 80%;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
}

.l-navbar-oppo {
    animation-name: scaleXoppo;
    animation-duration: 0.5s;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #fff;
        color: #000;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        width: 0%;
        filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 10px;
    width: 100%;
    cursor: pointer;
    animation-name: display;
    animation-delay: 2s;
    animation-duration: .5s;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;


}

.l-navbar-oppo a.none {
    display: none;
    animation-name: display-oppo;
    animation-duration: 0.5s;
}

@keyframes display {
    from {
        display: none;
    }

    to {
        display: flex;
    }
}

@keyframes scaleX {
    from {
        width: 0px;
    }

    to {
        width: 80%;
    }
}

@keyframes scaleXoppo {
    from {
        width: 80%;

    }

    to {
        width: 0px;
    }
}

@media screen and (max-width: 1120px) {
    .center {
                margin-left: 30px;
            
    }

    .center a:last-child {
        color: #ff6057 !important;
    }
}

@media screen and (max-width: 956px) {
    .center {
            margin-left: 20px;
    
        }
}
@media screen and (max-width: 948px) {
    .center {
            margin-left: 0;
    
        }
}
@media screen and (max-width: 927px) {
    .center {
            display: none;
    
        }
        .menu {
            display: block;
            cursor: pointer;
        }
        .navbar .right {
            display: none;
        }
}
@media screen and (max-width: 768px) {
    .navbar {
        padding: 0 2rem;
        position: fixed;
    }

    .center {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    .logo {
        margin-left: 2rem;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .menu img {
        filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
    }
}