.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    height: 70px;
    flex-direction: row;
    background: transparent;
    position: absolute;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.menu {
    display: none;
}

.logo {
    letter-spacing: 2px;
}

.logo span {
    /* border-top: 1px solid #000; */
    position: relative;
}

.logo span::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 45%;
        transform: translate(-50%, 0px);
        text-align: center;
        width: 50%;
        height: 100%;
        border-top: 2px solid #fff;
}

.center a{
    text-decoration: none;
    margin: 0 1rem;
    color: white;
}

.center {
    margin-left: -150px;
}

.right button {
    background: linear-gradient(-90deg, rgba(124, 28, 128, 0.66) 0.00%, #ff6057 100.00%);
        border: none;
        padding: 10px 30px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0 2rem;
    }

    .center {
        display: none;
    }

    .navbar .right {
        display: none;
    }

    .logo {
        margin-left: 2rem;
    }

    .menu {
        display: block;
        cursor: pointer;
        
    }

    .menu img {
        filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
    }

    
}

.none {
    display: none;
}

.l-navbar {
    animation-name: scaleX;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* top: 0;
    left: 0;
    bottom: 0; */
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 80%;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
}

.l-navbar-oppo {
    animation-name: scaleXoppo;
    animation-duration: 0.5s;
    /* display: none; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        /* top: 0;
        left: 0;
        bottom: 0; */
        background-color: #fff;
        color: #000;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        width: 0%;
        filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 1));
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 10px;
    /* border-bottom: 1px solid #000; */
    width: 100%;
    cursor: pointer;
    animation-name: display;
    animation-delay: 2s;
    animation-duration: .5s;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;


}

.l-navbar-oppo a.none {
    display: none;
    animation-name: display-oppo;
    animation-duration: 0.5s;
}

@keyframes display {
    from {
        display: none;
        /* transform: translateX(-1rem); */
    }

    to {
        display: flex;
        /* transform: translateX(0); */
    }
}

/* @keyframes display-oppo {
    from {
        display: flex;
    }

    to {
        display: none;
    }
} */

@keyframes scaleX {
    from {
        width: 0px;
    }

    to {
        width: 80%;
    }
}

@keyframes scaleXoppo {
    from {
        width: 80%;

    }

    to {
        width: 0px;
    }
}