.footer {
    /* position: absolute; */
    bottom: 0;
    background: #333333;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: #fff;
    box-sizing: border-box;
    padding: 60px 0;
}

.main-footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: -30px;
}

.contact,
.content,
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 100%; */
}

.content {
    margin: 65px 0;
}

.content .input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    /* padding: 0 10px; */
    box-sizing: border-box;
    background: #fff;
    display: flex;
}

.input input {
    /* flex: 8; */
    border: none;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.input input:focus-visible {
    outline: none;
}

.input button {
    /* flex: 2; */
    border: none;
    background: #FF6057;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    width: 30%;
}

.contact h2,
.contact p,
.about h2,
.about p,
.content h2 {
    margin: 5px 0;
}
.contact h2,
.about h2,
.content h2 {
    font-size: 20px;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 300;
}





@media screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
        height: 505px;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 12px;
        box-sizing: border-box;
        padding: 0;
    }

    .main-footer {
        flex-direction: column;
        height: 250px;
        align-items: center;
        justify-content: start;
        font-size: 12px;
        box-sizing: border-box;
        margin-bottom: 75px;
        margin-top: 0;
    }

    .about,
    .contact,
    .content {
        align-items: flex-start;
        justify-content: center;
        margin: 0px 20px 0px 0;
        box-sizing: border-box;
    }

    .about h2,
    .contact h2,
    .content h2 {
        cursor: pointer;
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }

        .about p,
        .contact p,
        .content p {
            text-align: center;
            width: 100%;
        }

        .input {
            width: 100%;
            margin: 0 a;
        }

    

    

    

    
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.copyRights {
    width: 100%;
    margin: 100px auto;
    background: #333333;
    text-align: center;
}