@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/images/blob.png') no-repeat 543% 25%, url('./assets/images/blob2.svg') no-repeat -412% 47%;
  
      background-size: auto;
      /* background-position-y: 30%;
      background-position-x: 445%; */
}


